body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

article.app {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

section.frame {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  width: 100%;
}
