.reveal .slides section {
  padding: 0;
}

.reveal section img {
  border: 0;
  bottom: auto;
  box-shadow: none;
  display: block;
  left: 50%;
  margin: 0;
  max-height: 1920px;
  max-width: 1080px;
  position: absolute;
  right: auto;
  transform: translatex(-50%);
  top: 50%;
  z-index: 10;
}
